@font-face {
  font-family: 'simian';
  src: url('fonts/simian.eot?ortljx');
  src: url('fonts/simian.eot?ortljx#iefix') format('embedded-opentype'),
    url('fonts/simian.ttf?ortljx') format('truetype'),
    url('fonts/simian.woff?ortljx') format('woff'),
    url('fonts/simian.svg?ortljx#simian') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simian' !important;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e902';
}
.icon-more:before {
  content: '\e901';
}
.icon-cart:before {
  content: '\e900';
}
